<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softwaregiants.careertinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.EditJobOpeningActivity" />
        <activity android:name=".activities.JobOpeningsListActivity" />
        <activity android:name=".activities.EditCandidateProfile" />
        <activity android:name=".activities.CompanyDashboardActivity" />
        <activity android:name=".activities.CandidateDashboardActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddNewJobOpening" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.CreateCandidateProfileActivity" />
        <activity android:name=".activities.JobDetailActivity" />
        <activity android:name=".activities.CandidateDetailActivity" />
    </application>

</manifest>